RASAccess-ApplicationGC/com/tagicesb/stub/wsdl/RASGenericService/getAccountDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://stub.tagicesb.com/wsdl/RASGenericService/"
	xmlns:ns2="WebService_RefundDetails"
	xmlns:tns="http://stub.tagicesb.com/wsdl/RASGenericService/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="WebService_RefundDetails"
		schemaLocation="../../../../../WebService_RefundDetails/ArrayOfAccountDetails.xsd" />
	<xs:complexType name="getAccountDetailsResponse">

		<xs:sequence>

			<xs:element form="qualified" minOccurs="0"
				name="GetAccountDetailsResult">

				<xs:complexType>

					<xs:sequence>

						<xs:element form="qualified" minOccurs="0"
							name="AccountDetailsResult" type="ns2:ArrayOfAccountDetails" />

					</xs:sequence>

				</xs:complexType>

			</xs:element>

		</xs:sequence>

	</xs:complexType>
	<xs:element name="getAccountDetailsResponse"
		type="tns:getAccountDetailsResponse" />
</xs:schema>