RASAccess-ApplicationGC/com/tagicesb/stub/wsdl/RASGenericService/TenureDetailsDataResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://stub.tagicesb.com/wsdl/RASGenericService/"
	xmlns:tns="http://stub.tagicesb.com/wsdl/RASGenericService/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="TenureDetailsDataResponse">

		<xs:sequence>

			<xs:element minOccurs="0" name="odTenure" type="xs:string" />

			<xs:element minOccurs="0" name="tpTenure" type="xs:string" />

		</xs:sequence>

	</xs:complexType>
	<xs:element name="TenureDetailsDataResponse"
		type="tns:TenureDetailsDataResponse" />
</xs:schema>