RASAccess-ApplicationGC/WebService_RefundDetails/FetchSubReceiptDetails_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="WebService_RefundDetails"
	xmlns:tns="WebService_RefundDetails"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FetchSubReceiptDetails">

		<xs:complexType>

			<xs:sequence>

				<xs:element minOccurs="0" name="UserId"
					type="xs:string" />

				<xs:element minOccurs="0" name="ProposalNumber"
					type="xs:string" />

				<xs:element minOccurs="0" name="SubReceiptNumber"
					type="xs:string" />

			</xs:sequence>

		</xs:complexType>

	</xs:element>
</xs:schema>