RASAccess-ApplicationGC/WebService_RefundDetails/InsuredDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="WebService_RefundDetails"
	xmlns:tns="WebService_RefundDetails"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="InsuredDetails">

		<xs:sequence>

			<xs:element minOccurs="0" name="InsuredName"
				type="xs:string" />

			<xs:element minOccurs="0" name="InsuredDOB"
				type="xs:string" />

			<xs:element minOccurs="0" name="InsuredContAdd"
				type="xs:string" />

			<xs:element minOccurs="0" name="InsuredContNo"
				type="xs:string" />

		</xs:sequence>

	</xs:complexType>
</xs:schema>