RASAccess-ApplicationGC/WebService_RefundDetails/Proposal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="WebService_RefundDetails"
	xmlns:tns="WebService_RefundDetails"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Proposal">

		<xs:sequence>

			<xs:element minOccurs="0" name="ProposalNo"
				type="xs:string" />

			<xs:element minOccurs="0" name="ProposalDate"
				type="xs:string" />

			<xs:element minOccurs="0" name="ProposalStatus"
				type="xs:string" />

		</xs:sequence>

	</xs:complexType>
</xs:schema>